RewriteEngine On

# Proxy all HTTP traffic to your Node.js application
#RewriteCond %{REQUEST_URI} !^/path-to-your-404-page.html
RewriteRule ^(.*)$ http://127.0.0.1:21098/$1 [P,L]

# Handle WebSockets
RewriteCond %{HTTP:Upgrade} =websocket [NC]
RewriteRule /(.*) ws://127.0.0.1:21098/$1 [P,L]

# Handle 404 errors
#ErrorDocument 404 /path-to-your-404-page.html
